<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yany.dao.multi.annotation.AnnotationAdsDao">
    <select id="selectCount" resultType="Integer">
--         SELECT COUNT(1) FROM applicat_gis_day;
        SELECT COUNT(1) FROM users;
    </select>
</mapper>